.tileme
{
background:url('images/TOCAN6.JPG');
}
.edges
{
background:url('images/edges.png') repeat-y;
}
.heightcenter
{
 margin-top:-1em;
 margin-bottom:-1em;
}
.centerme
{
margin-left:auto;
margin-right:auto;
display:block;
}
.zerome
{
margin:0;
padding:0;
}
.heightme
{
margin-bottom:-2px;
margin-top:-4px;
}

body
			{
				background:url('TOCAN6.JPG');
			}
			a:hover
			{
			/*	background:url('SOFTWARE.JPG') 0 0 no-repeat;*/
color:yellow;
			}	
			
			.mainbody
			{
				/*width:900px;*/
				/*margin-left:120px;*/
				/*border:2px solid red;*/
				padding-left:100px;
/*	background:url(dscolumns.png) repeat-y;*/
	background:url('images/edges.png') repeat-y;
				background-position:70px;
				margin-top:0;
				margin-bottom:0;
				padding-top:0;
				padding-bottom:0;
			}
			
			#navlist li 
			{
				display:block;
				list-style-type: none;
				padding-right: 20px;
			}	
#navlist2 li
			{
				display:block;
				list-style-type: none;
				padding-right: 20px;
			}	

			.news
			{
				position:absolute;
				top:136px;
				left:60%;;
				width:200px;
			}
			   
			.hf
			{
				display:block;
				margin-left: 60px;
				margin-top:0;
				margin-bottom:0;
			 	padding-top:0;
				padding-bottom:0;
				clear:both;
			}

